*  {
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

body {
    margin: 0%;
    background-color: rgb(255, 255, 255);
}

button  {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(5, 201, 136);
}

button:hover    {
    filter: brightness(50%);
}

.numero   {
    background-color: black;
}


.operador { 
    background-color: rgb(54, 224, 187);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.botones   {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    background-color: rgb(5, 201, 136);
    padding: 5px;
}

.calculadora   {
    background-color: rgb(5, 201, 136);
}

input {
    width: 100%;
    text-align: right;
    color: black;
}